---
const { product } = Astro.props;

---

<article>
    <img src={`https://kea-alt-del.dk/t7/images/webp/640/${product.id}.webp`}
     alt="Produktbillede"
     class="productImage">
    <h2>{product.productdisplayname}</h2>
    <p>{product.articletype} | {product.brandname}</p>
    <p>DKK {product.price},-</p>
    <a href=`/product/${product.id}`><p>Read More</p></a>
</article>


<style>
    img{
        max-width: 100%;
    }
</style>